@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Fraunces';
    src: url('/fonts/Fraunces_9pt-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}